[Unit]
Description=Mesos master in docker
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run \
        --name=mesos-master \
        --net=host \
        -e MESOS_ZK=zk://192.168.0.12:2181/mesos \
        -e MESOS_QUORUM=1 \
        -e MESOS_REGISTRY=in_memory \
        -e MESOS_NO_HOSTNAME_LOOKUP=true \
        -e MESOS_IP=192.168.0.12 \
	-e MESOS_CLUSTER=magisterski \
        -e MESOS_LOG_DIR=/var/log/mesos \
        -e MESOS_WORK_DIR=/var/tmp/mesos \
        quay.io/mesosdockerized/mesos-master:v1.1.0
ExecStop=/usr/bin/docker stop -t 2 mesos-master
ExecStopPost=/usr/bin/docker rm -f mesos-master
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
